body {
	background-color:#000;
	font-family:Courier New;
	font-size:10pt;
	color:#eee;
}

input, textarea {
	display: block;
	width:100%;
	margin-bottom:10px;
}

textarea {
	min-height:200px;
}

input[type='submit'] {
	border-radius:4px;
}

a {
	color:#FF43FF;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.error {
	background-color:rgba(255, 0, 0, 0.3);
	border:1px solid rgba(255, 0, 0, 0.5);
	margin-bottom:20px;
	padding:10px;
}

.right { float: right; }
.left { float: left; }
